/* src/pages/Dashboard.css */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .dashboard-menu {
    list-style: none;
    padding: 0;
  }
  
  .dashboard-menu li {
    margin: 10px 0;
  }
  
  .dashboard-menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .dashboard-menu a:hover {
    color: #0056b3;
  }
  
  .service-details {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente para que el texto sea legible sobre la imagen */
    padding: 40px;
    margin-top: 40px;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    position: relative;
  }
  
  .service-details h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  
  .service-details p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-top: 15px;
  }
  